<div ng-app="mapsApp" ng-controller="MapsController" data-ng-init="createMapPage()">
  <div class="row">
    <div class="col-xs-10 col-md-6">
      <input id='pac-input' type="text" name="zipcode" class='zipcode-input controls'>
    </div>
    <div class="col-xs-12 col-md-6">
     <slider
      ng-model="initialrad"
      floor="0.00"
      ceiling="50.00"
      step="1.00"
      id='slider'>
  </slider>
    </div>
  </div>
  <div ng-show="showSpinner"><div class="loader">Loading...</div></div>
    <div id="map">
    </div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>
